.earnings-card {
    .MuiButton-root.Mui-disabled {
        color: white;
        text-decoration: underline;
    }
}

.react-stockcharts-tooltip {
    fill: #efefef;
    font-family: 'Anonymous Pro', 'Monaco', 'monospace';
}
.react-stockcharts-tooltip-label {
    fill: #efefef;
    font-family: 'Anonymous Pro', 'Monaco', 'monospace';
}

.MuiContainer-root {
    min-height: 100vh;
}

.fullheight {
    height: 100%;
}

.keystats {
    .MuiTableCell-root.MuiTableCell-body {
        position: relative;
        padding: 0.5rem;
        padding-top: 1.5rem;
        width: 50%;
        border: none;
        
        span {
            position: absolute;
            top: 5px;
            font-size: 0.6rem;
            color: #999;
            
            a {
                text-decoration: none;
                color: #999;
            }
        }
    }
}

a {
    color: #6b8;
}

.header-link {
    float: right;
    margin-left: 1rem;
}

.dashboard-main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.search-form {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;

    .MuiFormControl-root.MuiTextField-root {
        min-width: 17rem;
    }
}
